# Expo Environment Variables
# These variables will be compiled into the frontend code via EXPO_PUBLIC_ prefix
EXPO_PUBLIC_NODE_ENV=development
EXPO_PUBLIC_API_URL=
# Google Auth Client IDs
# Web Client ID is used for Expo Go development
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=

# Android and iOS Client IDs are used for native standalone builds
# These should be generated in the Google Cloud Console (see docs/GOOGLE_AUTH_SETUP.md)
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
