@tailwind base;
@tailwind components;
@tailwind utilities;

/* NativeWind v4 uses the tailwind.config.js for colors, but you can define CSS variables here if needed */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #237227;
  --secondary: #085b99;
  --accent: #F97316;
}
